@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;700&display=swap");
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.header {
  padding-top: 40px;
  margin-top: 0px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 50px;
  display: flex;
  justify-content: space-between;
}
.bienvenida {
  background-image: url(./Imagenes/1548686474966.jfif);
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: contain;
  margin: 0px;
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
}
.titulo1 {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 40px;
  flex-direction: column;
}
.titulo__texto {
  margin: 0px;
  color: #ffff;
  font-family: "Lora", serif;
  text-align: center;
  font-size: 38px;
  padding: 259px 10px 10px 10px;
}
.titulo__sub {
  margin: 0px;
  color: #ffff;
  font-family: "Lora", serif;
  text-align: center;
  font-size: 68px;
  padding-bottom: 259px;
}

.imagen {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.imag-principal {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0px;
  padding-bottom: 0px;
  width: 250px;
}
.imag {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

@media (min-width: 796px) {
  .bienvenida {
    padding-left: 50px;
    padding-right: 50px;
  }
  .titulo1 {
    margin: 0px;
    display: flex;
    justify-content: flex-start;
    align-self: center;
  }
  .inicio {
    display: flex;
    justify-content: space-between;
  }
  .titulo__texto {
    margin: 0 auto;
    padding-bottom: 20px;
    font-size: 68px;
  }
  .imag-principal {
    padding-right: 4vw;
    width: 25vw;
    max-width: 500px;
  }
  .imagen-desk {
    display: block;
    padding-bottom: 0px;
    margin-bottom: 0px;
  }
  .img-desktop {
    padding-bottom: 0px;
    margin-bottom: 0px;
  }
}
.presentacion {
  background-color: #141414;
  margin: 0px;
  padding: 0px;
}
.contenido {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.contenido__mi-nombre {
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  color: #fafafa;
  font-family: "Lora", serif;
  padding-top: 55px;
  text-align: center;
  font-size: 38px;
}
.contenido__parrafo {
  display: flex;
  justify-content: center;
  padding-top: 41px;
  padding-left: 31px;
  padding-right: 32px;
  font-family: "Lora", serif;
  font-size: 68px;
  text-align: center;
}
.sobre-mi {
  width: 350px;
  color: #fafafa;
  display: block;
  margin: 0px;
  font-size: 16px;
  padding-bottom: 80px;
}

.contenido__foto {
  display: none;
}
@media (min-width: 796px) {
  .presentacion {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    margin: 0px;
  }
  .contenido__img {
    display: flex;
    justify-content: baseline;
  }
  .contenido__foto {
    display: flex;
    width: 400px;
  }
  .sobre-mi {
    margin: 0px;
    padding: 0px;
    text-align: center;
    font-size: 18px;
  }
  .contenido {
    padding: 20px;
    margin: 0px;
  }
  .contenido__mi-nombre {
    margin: 0px;
    padding: 0px;
    padding-top: 50px;
    padding-bottom: 20px;
    text-align: center;
    font-size: 32px;
  }
  .contenido__parrafo {
    margin: 0px;
    padding: 0px;
    text-align: center;
  }
}
@media (min-width: 1100px) {
  .contenido__foto {
    display: flex;
    width: 600px;
  }
  .sobre-mi {
    margin: 0px;
    padding: 0px;
    text-align: justify;
    font-size: 20px;
  }
  .contenido__mi-nombre {
    font-size: 38px;
  }
}
.mis-servicios {
  background-color: #fafafa;
  margin: 0px;
  padding: 0px;
}
.servicios {
  display: block;
}
.mis-servicios__titulo {
  padding-top: 70px;
  padding-right: 52px;
  padding-left: 52px;
  padding-bottom: 52px;
  justify-content: center;
}
.mis-servicios__titulo-text {
  color: #2c2c2c;
  font-family: "Lora", serif;
  font-weight: bold;
  font-size: 38px;
  text-align: center;
}
.compus__img {
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-top: 40px;
  padding-right: auto;
  padding-left: auto;
}
.compus__text-box {
  text-align: center;
  font-family: "Lora", serif;
  size: 24px;
  margin-top: 15px;
}
.compus__parrafo-text {
  padding: 0px 80px 0px 80px;
}
.compus__parrafo {
  font-family: "Lora", serif;
  text-align: center;
  color: #2c2c2c;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 66px;
}
.compus {
  margin-left: auto;
  margin-right: auto;
}
.compus__bloques {
  margin: 0px;
}
@media (min-width: 796px) {
  .mis-servicios__titulo {
    display: block;
    font-size: 24px;
  }
  .servicios {
    display: flex;
  }

  .compus {
    display: flex;
  }

  .compus__img {
    width: 10vw;
  }
  .compus__text-box {
    font-size: 16px;
    text-align: center;
  }
  .compus__parrafo {
    text-align: justify;
    display: flex;
  }
  .compus__parrafo-text {
    padding: 0px 25px 0px 25px;
  }
}
